.cross-button {
  @include reset-button;
  @include square(50px);

  position: relative;
  border-radius: var(--border-radius-small);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 7px;
    width: 70%;
    height: 2px;
    background: var(--palette-color3);
    border-radius: var(--border-radius-small);
  }

  &::before {
    rotate: 45deg;
  }
  &::after {
    rotate: -45deg;
  }
}
